@{
    ViewData["Title"] = "Reporte Excel";

    var hoy = DateTime.Today;
    var haceUnMes = hoy.AddMonths(-1);
    var mesActual = hoy.Month;
    var anoActual = hoy.Year;
    var mesAnterior = haceUnMes.Month;
    var anoMesAnterior = haceUnMes.Year; // ← esta es la forma correcta
    var anoAnterior = anoActual - 1;
}

<partial name="_SubMenu" Model="SubMenuTransacciones.Excel" />
<h1>Exportar transacciones a Excel</h1>


<div class="mb-3">
    <a asp-action="ExportarExcelPorMes" asp-route-mes="@mesActual" asp-route-ano="@anoActual" class="btn btn-success">
        Exportar mes actual
    </a>~ @hoy.ToString("MMM yyyy")

    <a asp-action="ExportarExcelPorMes" asp-route-mes="@mesAnterior" asp-route-ano="@anoMesAnterior" class="btn btn-success">
        Exportar mes anterior
    </a>~ @haceUnMes.ToString("MMM yyyy")


    <a asp-action="ExportarExcelPorAno"  asp-route-ano="@anoActual" class="btn btn-success">
        Exportar año actual
    </a>~ @anoActual

    <a asp-action="ExportarExcelPorAno" asp-route-ano="@anoAnterior" class="btn btn-success">
        Exportar año anterior
    </a>~ @anoAnterior

    <a asp-action="ExportarExcelTodo"  class="btn btn-success">
        Exportar todo
    </a>
</div>
